<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App with MongoDB in Docker containers</title>
</head>

<body>
  <h1>Node App with MongoDB in Docker containers</h1>
  <form method="post" action="/item/add">
    <label for="name">Input</label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form>

<form id="search" action="" method="post" class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="q" name="q" placeholder="Search...">
    </div>
    <button type="submit" class="btn btn-primary">Search users</button>
</form>

  <h4>Items:</h4>
  <ul>
    <% cocktails.forEach(function(item) { %>
      <li>
        <b><%= item.name %></b>
     <ul>
        <li>
                <b>Glass: </b><%= item.glass %>
        </li>
        <li>
                <b>Category: </b><%= item.category %>
        </li>
        <li>
                <b>Ingredients: </b><%= item.ingredients %>
        </li>
        <li>
                <b>Garnish: </b><%= item.garnish %>
        </li>
        <li>
                <b>Preparation: </b><%= item.preparation %>
        </li>
     </ul>
     </li>
      <% }); %>
  </ul>
</body>

</html>